Thumbs.db
Desktop.ini
.DS_Store
*.tmp
~$*

# Ya publicados en repos de https://github.com/moussijoelle
lista/
cssflex/
cv/
cv tailwind vrai/
galeria/
la fabula/
dado/
Determinar número mayor/
convertir números  a letras/
Concurso (métodos de array)/
JavaScript1/
JavaScript2/
JavaScript3/
JavaScript4/
6.2. Lista de Compras/
6.1. Mes de número a letra/
multiplos/
Nivel de experiencia/
palabras bonitas/
Juguemos Piedra, papel o tijera/
restaurante/
Tamagotchi/
8.2. Verificar número del DNI/
Ejecutar operación seleccionada/
praticar  arrays/
lista de compra/
