html{
    font-family: Verdana, Arial, sans-serif, system-ui;
    font-size: 16px; /* (comentario css) Letra base: rem */
}

body {
    /* outline: 1px red dotted; */
    width:80%;
    margin:0 auto;    
}

header {
    background-color: darkblue;
    color:white;
    font-size:0.8rem;
    padding: 5px;
    text-align: center;
}

header a {
    color:white;
    text-decoration: none;
    margin: 1px 5px;
}

footer {
    background-color: lightgray;
}

.amarilla {
    color: yellow;
}

details {
    background-color: azure;
    margin-bottom: 2rem;
    padding: 10px 0;  
}

details p {
   margin: 3px; 
}

summary {
    background-color: steelblue;
    color: white;
    font-size: 1.3em;
}

li {
    line-height: 1.5em;
}

table{
    width: 100;
    border: 1px darkblue solid;
    margin: 1rem 0;
    border-collapse:collapse;
}

caption{

}
